<div>
    <form action="wi" method="get" style="margin-bottom: 20px">
        <input type="hidden" name="code" value="{{code}}">
        <input type="hidden" name="userid" value="{{userID}}">
        <input type="text" class="textbox_noscale" name="query" placeholder="search query">
        <input type="submit" value="SEARCH" class="button" style="">
    </form>
</div>

<div>
    <table style="width: 100%;" border="1" class="border">
        <tr>
            <th class="border">UID</th>
            <th class="border">Victim</th>
            <th class="border">Victim ID</th>
            <th class="border">Reporter</th>
            <th class="border">Reporter ID</th>
            <th class="border">Date</th>
            <th class="border">Type</th>
            <th class="border">Reason</th>
        </tr>
        {{#each fields}}
            <tr>
                <td class="border">{{this.uid}}</td>
                <td class="border">{{this.victimname}}</td>
                <td class="border">{{this.victimid}}</td>
                <td class="border">{{this.reportername}}</td>
                <td class="border">{{this.reporterid}}</td>
                <td class="border">{{this.date}}</td>
                <td class="border">{{this.type}}</td>
                <td class="border">{{this.reason}}</td>
            </tr>
        {{/each}}
    </table>
</div>
